.frame-child42,
.rectangle-parent12 {
  width: 793px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
  max-width: 100%;
}
.frame-child42 {
  height: 105px;
  position: relative;
  display: none;
}
.rectangle-parent12 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-2xl) var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-8xl);
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-slategray-200);
  font-family: var(--font-visby-round-cf);
}
