.frame-child24 {
  width: 436px;
  height: 505px;
  position: relative;
  border-radius: 4.17px;
  background-color: var(--color-white);
  box-shadow: 0 8.3px 10.43px rgba(0, 0, 0, 0.03);
  display: none;
  max-width: 100%;
}
.welcome-back {
  position: relative;
  font-size: var(--font-size-mini-6);
  font-family: var(--font-visby-round-cf);
  color: var(--color-lightseagreen);
  text-align: left;
  z-index: 1;
}
.welcome-back-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
}
.register-to-continue {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 16.31px;
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-100);
  text-align: left;
  z-index: 1;
}
.register-to-continue-to-labora-wrapper {
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
  max-width: 100%;
}
.email1 {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 13.8px;
  font-family: var(--font-visby-round-cf);
  color: var(--color-dimgray);
  text-align: left;
  z-index: 1;
}
.email-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg);
}
.frame-child25 {
  height: 42.8px;
  width: 356.7px;
  position: relative;
  border-radius: 4.17px;
  border: 1px solid var(--color-lightgray-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.abcxyzchefsynkcom {
  width: 123px;
  border: 0;
  outline: 0;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 14px;
  position: relative;
  line-height: 13.8px;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  z-index: 2;
}
.frame-parent17,
.rectangle-parent5 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent5 {
  flex: 1;
  border-radius: 4.17px;
  border: 1px solid var(--color-lightgray-300);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-sm) var(--padding-8xl);
  z-index: 1;
}
.frame-parent17 {
  height: 65px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.forgot-password,
.password {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 13.8px;
  font-family: var(--font-visby-round-cf);
  color: var(--color-dimgray);
  text-align: left;
  z-index: 1;
}
.forgot-password {
  font-weight: 500;
  color: var(--color-darkgray);
}
.frame-wrapper4,
.password-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.password-parent {
  flex: 1;
  justify-content: space-between;
  min-height: 15px;
  gap: var(--gap-xl);
}
.frame-wrapper4 {
  width: 348px;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
}
.frame-child26 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 43px;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  z-index: 1;
}
.frame-parent18 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  max-width: 100%;
}
.choose-designation {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 13.8px;
  font-family: var(--font-visby-round-cf);
  color: var(--color-dimgray);
  text-align: left;
  z-index: 1;
}
.choose-designation-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg);
}
.frame-child27 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 43px;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
  z-index: 1;
}
.frame-parent15,
.frame-parent16,
.frame-parent19 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent15,
.frame-parent16 {
  gap: var(--gap-sm);
  max-width: 100%;
}
.frame-parent15 {
  align-items: center;
  gap: var(--gap-8xs);
}
.registration-label {
  align-self: stretch;
  height: 43px;
  z-index: 1;
}
.already-have-an,
.login3 {
  font-family: var(--font-visby-round-cf);
  color: var(--color-lightgray-200);
}
.login3 {
  color: var(--color-lightseagreen);
}
.already-have-an-container {
  position: relative;
  font-size: var(--font-size-sm);
  text-align: left;
  cursor: pointer;
  z-index: 1;
}
.rectangle-parent4,
.registration-label-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.registration-label-parent {
  align-self: stretch;
  gap: var(--gap-3xl);
}
.rectangle-parent4 {
  margin: 0;
  width: 436px;
  border-radius: 4.17px;
  background-color: var(--color-white);
  box-shadow: 0 8.3px 10.43px rgba(0, 0, 0, 0.03);
  padding: var(--padding-22xl) var(--padding-20xl) var(--padding-27xl)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
  min-width: 436px;
  max-width: 100%;
  flex-shrink: 0;
}
@media screen and (max-width: 950px) {
  .rectangle-parent4 {
    flex: 1;
  }
}
@media screen and (max-width: 700px) {
  .rectangle-parent4 {
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .password-parent {
    flex-wrap: wrap;
  }
  .registration-label {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .rectangle-parent4 {
    gap: var(--gap-5xl);
  }
}
