.by-name {
  position: relative;
  z-index: 1;
}
.by-name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
}
.frame-child41,
.frame-parent39 {
  font-size: var(--font-size-2xs);
  font-family: var(--font-visby-round-cf);
}
.frame-child41 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 43px;
  color: var(--color-lightslategray);
  z-index: 2;
}
.frame-parent39 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  min-width: 235px;
  max-width: 100%;
  text-align: left;
  color: var(--color-slategray-200);
}
