.frame-child30 {
  height: 204px;
  width: 805px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
  display: none;
  max-width: 100%;
}
.ellipse-icon {
  width: 138px;
  height: 138px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.ellipse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}
.jawad-karim,
.name1 {
  position: relative;
  z-index: 1;
}
.jawad-karim {
  font-size: var(--font-size-sm-2);
  font-weight: 500;
  color: var(--color-gray-100);
}
.frame-wrapper6,
.name-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.name-parent {
  flex-direction: column;
  gap: var(--gap-4xs);
}
.frame-wrapper6 {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
}
.father-name,
.salman-karim {
  position: relative;
  z-index: 1;
}
.salman-karim {
  font-size: var(--font-size-sm-2);
  font-weight: 500;
  color: var(--color-gray-100);
}
.father-name-parent,
.frame-parent24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent24 {
  padding: 0 var(--padding-3xl) 0 0;
  gap: var(--gap-10xl);
}
.gender1,
.male {
  position: relative;
  z-index: 1;
}
.male {
  font-size: var(--font-size-sm-2);
  font-weight: 500;
  color: var(--color-gray-100);
}
.gender-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.date-of-birth,
.div15 {
  position: relative;
  z-index: 1;
}
.div15 {
  font-size: var(--font-size-sm-2);
  font-weight: 500;
  color: var(--color-gray-100);
}
.date-of-birth-parent,
.frame-parent25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent25 {
  gap: var(--gap-10xl);
}
.contact,
.div16 {
  position: relative;
  z-index: 1;
}
.div16 {
  font-size: var(--font-size-sm-2);
  font-weight: 500;
  color: var(--color-gray-100);
  white-space: nowrap;
}
.contact-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.cnic1,
.div17 {
  position: relative;
  z-index: 1;
}
.div17 {
  font-size: var(--font-size-sm-2);
  font-weight: 500;
  color: var(--color-gray-100);
}
.cnic-parent,
.frame-parent26,
.rectangle-parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent26,
.rectangle-parent7 {
  gap: var(--gap-13xl);
}
.rectangle-parent7 {
  width: 805px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-13xl) var(--padding-24xl) var(--padding-15xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base-2);
  color: var(--color-dimgray);
  font-family: var(--font-visby-round-cf);
}
@media screen and (max-width: 800px) {
  .rectangle-parent7 {
    flex-wrap: wrap;
    gap: var(--gap-11xl);
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent7 {
    gap: var(--gap-mini);
  }
}
