.frame-child28 {
  width: 195px;
  position: relative;
  background-color: var(--color-gray-200);
  height: 663px;
  display: none;
}
.lms4 {
  width: 109px;
  height: 41px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  z-index: 1;
}
.frame-child29 {
  align-self: stretch;
  flex: 1;
  z-index: 1;
}
.registrations-wrapper {
  align-self: stretch;
  height: 17px;
  font-family: var(--font-visby-round-cf);
  font-weight: 500;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
}
.frame-parent22 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.iconlylightpaper2 {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}
.iconlylightpaper-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
}
.test-reports2 {
  width: 96px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.test-reports-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.arrow-left-5-svgrepo-com-2-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.frame-parent23 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-lg);
}
.user-rounded-svgrepo-com-1-icon2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.account2 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frame-wrapper5,
.user-rounded-svgrepo-com-1-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-rounded-svgrepo-com-1-parent {
  gap: var(--gap-2xs);
}
.frame-wrapper5 {
  align-self: stretch;
  padding: 0 var(--padding-lg);
}
.frame-parent21,
.rectangle-parent6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent21 {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-3xl);
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
}
.rectangle-parent6 {
  height: 663px;
  width: 195px;
  background-color: var(--color-gray-200);
  padding: var(--padding-11xl) var(--padding-base) var(--padding-390xl)
    var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  text-align: left;
  font-size: var(--font-size-15xl-2);
  color: var(--color-turquoise);
  font-family: var(--font-visby-round-cf);
}
@media screen and (max-width: 800px) {
  .lms4 {
    font-size: var(--font-size-8xl);
  }
}
@media screen and (max-width: 675px) {
  .rectangle-parent6 {
    display: none;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-247xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .lms4 {
    font-size: var(--font-size-2xl);
  }
}
