@import '../../constants/Colors.css';

.Test-Details-Main-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fontRegular);
    width: 100%;
    height: auto;
}

.Test-Details-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
    width: 95%;
    margin-top: 1rem;
    padding: 1rem;
    height: auto;
    border: 5px solid rgb(255, 253, 253);
    border-radius: 10px; 
    background-color: var(--navbarTextColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Test-Details-Heading {
    text-align: left;
    margin: 8px;
    font-weight: 600;
    font-size: larger;
    color: var(--lms);
}


.Test-Details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.Left-Side-Details {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    /* margin-left: 10px; */
    /* gap: 0.9rem;   */
}
.Left-Side-Details label {
    margin-bottom: -10px;
    margin-left: 0.5rem;
    font-weight: 600;
}

.Left-Side-Details input {
    width: 100%;
    height: 30px; /* Increase the height as needed */
    border: 1px solid #838181;
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 8px; /* Add padding for better spacing */
}


.Right-side-Details {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align elements to the left */
    /* gap: 0.9rem; */
}

.Right-side-Details label {
    margin-bottom: -10px;
    margin-left: 0.5rem;
    font-weight: 600;
}

.Right-side-Details input {
    width: 100%;
    height: 30px; /* Increase the height as needed */
    border: 1px solid #838181;
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 8px; /* Add padding for better spacing */
}


.btn-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Next-button {
    width: 15rem;
    height: 5vh;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: var(--fontRegular);
    background-color: var( --lms);
    border: 2px solid var(--lms);
    border-radius: 5px;
    color: rgb(250, 250, 250);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.Next-button:hover {
    transform: scale(1.1);
}

.Normal-Test-Range-Container {
    width: 100%;
    height: auto;
    margin-left: 1rem;
    gap: 1rem;
}

.Normal-Test-Range-Container p {
    font-weight: 600;
    font-size: larger;
}

.Normal-Test-Range {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 5px;
}

.Normal-Test-Range label {
    margin-bottom: -10px;
    margin-left: 0.5rem;
    font-weight: 600;
}

.Test-Range-Inputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 23%;
    width: 100%;
}

.Test-Range-Inputs input {
    width: 40%;
    height: 30px; /* Increase the height as needed */
    border: 1px solid #838181;
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 8px; /* Add padding for better spacing */
}

.Normal-Test-Range-Details {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}


@media screen and (max-width:410px) {
    .Normal-Test-Range-Details{
        flex-direction: column;
    }
    .Normal-Test-Range{
        width: 70%;
    }
    .Test-Details{
        flex-direction: column;
    }
    .Right-side-Details,.Left-Side-Details{
        width: 100%;
    }

}
