@import "../../constants/Colors.css";

#AdminDashboard {
    font-family: var(--fontRegular);
}

.AdminDashboard-subContainer {
    width: 90%;
    margin: 2em;
    box-shadow: var(--divShadowColor);
    display: flex;
}

.adminDash-equalBoxes {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.admin-smallbox{
    
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
}

.admin-text{
    font-weight: 600;
    color: var(--textColor);
    font-size: var(--medium);
}

.admin-boxContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.Admin-Bottom-divs{
    width: 100%;
    padding: 3em;
    text-align: center;
}


@media screen and (max-width: 828px) {
    .AdminDashboard-subContainer{
        flex-direction: column;
    }
    
.admin-boxContainer{    
    justify-content: space-around;
}

}