@import "../../constants/Colors.css";

#mainContainer-admin{
    font-family: var(--fontRegular);
    width: 100%;
    /* height: 100vh; */
     display: flex;
     justify-content: space-between;
}
.left-side-admin{
    width: 17%;
      
}
.right-side-admin{
    width: 83%;
}


@media screen and (max-width:1200px) {
    
    .right-side-admin{
        width: 100%;
    }
}