
@import '../../constants/Colors.css';

.admin-login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: var(--fontRegular);
    overflow: hidden;
}

.admin-image-container {
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.admin-log-image {
    width: 100%;
    height: 100%;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.admin-login-form-container {
    width: 55%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-login-form-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 50%;
    /* height: 60%; */
    border: 5px solid rgb(255, 253, 253);
    box-shadow: var(--divShadowColor);
    border-radius: 0.5rem;
}

.admin-login-headings-container {
    padding-top: 0.5rem;
    max-width: 90%;
}

.admin-welcome-heading {
    font-size: larger;
    font-weight: bold;
    color: var(--buttonColor);
}

.admin-login-form-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 95%;
}

.admin-login-form-input-container input {
    /* width: 22rem; */
    width: 90%;
    height: 15px; /* Increase the height as needed */
    border: 1px solid #838181;
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 8px; /* Add padding for better spacing */
}


.admin-login-form-input-container label {
    margin-left: 1rem;
    font-weight: bold;
}

.admin-forgotpass-link {
    font-size: smaller;
    color: #A0A3AD;
    text-decoration: none;
}

.admin-login-form-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.admin-login-form-btn {
    width: 100%;
    height: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: var(--fontRegular);
    background-color: var(--lms);
    border: 2px solid var(--lms);
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

/* Add this CSS to your Login.css file or create a new CSS file */
.admin-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other content */
}


@media  screen and (max-width: 844px) {   
    .admin-image-container{
        display: none;
        
    }
    .admin-login-form-container{
        width: 100%;
    }
    .admin-login-form-main{
        height: fit-content;
    }
    
}

@media screen and (max-width: 458px) {
    .admin-login-form-container{
        width: 80%;
    }
    .admin-login-form-input-container{
        width: 100%;
        padding: 1rem;
    }
}

@media screen and (max-width: 444px) {
    
.ad-login-form-username-container input {
    width: 100%;
  }

}