@import '../../constants/Colors.css';
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cdf3ee;
    padding: 1.5rem 2rem;
    border: 5px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 0.6rem;
    z-index: 9999;
    max-width: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.custom-alert p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--fontRegular);
    font-weight: bold;
}

.success-alert {
    color: rgb(108, 178, 108);
  }
  
  .error-alert {
    color: red;
  }