@import "../../constants/Colors.css";

#patientDetailPage-Fullcontainer {
    font-family: var(--fontRegular);
}


#pdp-nameAndButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--divShadowColor);
    height: 9vh;
}

#pdp-name {
    font-size: var(--large);
    color: var(--headingColor);
    font-weight: 700;
    text-align: right;
    width: 50%;
}



#pdp-btn {
    width: 7em;
    height: 2em;
    color: white;
    background-color: var(--lms);
    border-radius: 8px;
    border: var(--textFieldBorderColor);
    font-size: var(--medium);
    padding: 0px;
    cursor: pointer;
}

#pdp-container {
    box-shadow: var(--divShadowColor);
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.pdp-heading {
    font-size: 1.3em;
    color: var(--headingColor);
    font-weight: 700;
    text-decoration: underline;
}

.pdp-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2rem;
}

.pdp-subBoxes {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;

}
.pdp-text{
    font-size: var(--small);
}

.pdp-smallHeading {
    font-size: var(--medium);
    color: var(--headingColor);
    font-weight: 700;
}

.pdp-passwordTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.eye-icon {
    border: none;
    background: none;
    cursor: pointer;
}
/* Modal Styles */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
    z-index: 1000; /* Ensure modal is on top of other elements */
}

.modal-content {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
    max-width: 24rem;
    /* position:relative; */
    aspect-ratio: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.close {
    position: absolute;
    top: -1.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 70px;
}

.close:hover {
    color: red;
}

#edit-divss{
    margin-top: 1rem;
    width: 100%;
    height: auto;
    padding: 5px;
    /* display: flex;
    flex-direction: column; */
}

.edit-divs-each-input{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.edit-divs-each-input select {
    width: 15rem;
    height: 3rem;
    margin: 0.7rem;
    /* Add your additional styling here */
}
#edit-divss input{
    width: 15rem;
    height: 3rem;
    margin: 0.7rem;
}


#edit-divss label{
    width:5rem;
    
}



@media screen and (min-width: 563px) and (max-width: 737px) {
    .pdp-details {
        justify-content: center;
    }

    .pdp-subBoxes {
        width: 25rem;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding-top: 0;
        padding-bottom: 1rem;

    }
}


@media screen and (max-width: 562px) {
    .pdp-details {
        margin: 0;
    }

    .pdp-subBoxes {
        width: 25rem;
        flex-direction: row;
        margin: 0;
        padding: 0;
        gap: 0.5rem;
        overflow: hidden;
    }


    #pdp-nameAndButtons {
        justify-content: space-between;
        gap: 1rem;
    }

    #pdp-name {
        text-align: left;
        font-size: var(--small);
    }
    #pdp-btn{
        font-size: var(--small);
    }
}

@media screen and (max-width:392px) {
    #pdp-nameAndButtons{
        height: auto;
        flex-direction: column;
    }
    #pdp-name {
        width: 100%;
        text-align: center;

    }
    #pdp-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


@media screen and (max-width:437px) {
    .modal{
        width: 95%;
        aspect-ratio: 1/1.3;
    }

    
.modal-content {
    aspect-ratio: 1/1.3;
}
.close{
    top: -1.1rem;
    right: 1.2rem;
}



.pdp-smallHeading {
    font-size: var(--small);
}
}


@media screen and (max-width: 360px){
    .edit-divs-each-input{
        flex-direction: column;
        align-items: flex-start;
    }
    
#edit-divss input{
   
        width: 100%;
    }


}
