@import '../../constants/Colors.css';

.view-patient-records-container {
    width: 99.9%;
    border: 1px solid black;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
