@import '../../constants/Colors.css';

.Main-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fontRegular);
    overflow: hidden;
}

.Profile {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid rgb(255, 253, 253);
    border-radius: 10px; 
    gap: 50px;
    background-color: var(--navbarTextColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    flex-wrap: wrap;
    justify-content: center;
}


.Image-details {
    
    width: 20%;
    height: 12rem;
    overflow: hidden;
    margin-right: 20px;
    object-fit: cover;
    
}

.profile-image {
    width: 100%;
    /* aspect-ratio: 1; */
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

/* General styling for profile details sections */
.Profile-details,
.Middle-details,
.Last-details {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;

    
}

.upper-profile,
.Middle-upper-profile,
.Last-upper-profile,
.lower-profile,
.Middle-lower-profile,
.Last-lower-profile {
    width: 100%;
    height: 20vh;
  
    display: flex;
    flex-direction: column;
}

/* Dashboard.css */
/* ... (other styles) */

.upper-profile p,
.Middle-upper-profile p,
.Last-upper-profile p,
.lower-profile p,
.Middle-lower-profile p,
.Last-lower-profile p {
    text-align: left; /* Align text to the left within each paragraph */
    margin-top: 30px; /* Adjust the margin-top value as needed */
    margin-bottom: -15px; /* Adjust the margin-bottom value as needed */
}





.bold-light {
    font-weight: bold;
}


/* Dashboard.css */
/* ... (other styles) */

.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: auto;
    background-color: var(--navbarTextColor);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.dashboard-item {
    text-align: center;
    position: relative;
    width: 200px;
    margin: 1rem;
}

.dashboard-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -10vh;
    width: 1px;
    background-color: #ddd;
}
  
.dashboard-item h3 {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
    text-transform: uppercase;
}
  
.dashboard-item p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}


.dashboard-item p svg {
    margin-right: 10px; /* Adjust the margin as needed for space between icon and text */
}

.dashboard-charts {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-right: 2rem;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    gap: 4rem;
}

.chart-container {
    width: auto; 
    height: auto;
    border: 1px solid #ffffff;
    padding: 0rem;
    box-sizing: border-box; /* Include borders in total width and height */
    background-color: var(--navbarTextColor);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}


.profile-info{
    width: 70%;
    display: grid;
    grid-template-rows: repeat(auto-fit,1fr);
    grid-template-columns: repeat(auto-fit,minmax(27%, 3fr));
    row-gap: 2rem;
    column-gap: 2rem;
    
}
.profile-divs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    /* width: 30%; */
    
}


@media screen and (max-width: 790px) 
{
    .profile{
        background-color: green;
       justify-content: center;
       align-items: center;
    }
    .profile-info{
        width: 100%;
    }
    .Image-details{
        width: 50%;
    }
    .profile-image{
        width: 100%;
        aspect-ratio: 1;
    }
    
    
}