/* Dashboard.css */
.Profile {
    display: flex;
    flex-direction: row;
    margin-top: 60px; /* Adjusted margin to push content below the Navbar */
    margin-left: 270px; /* Adjusted margin to push content to the right of the Sidebar */
    padding: 20px; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    width: calc(98% - 250px); /* Adjusted width to fit the remaining space */
    border: 1px solid black;
    height: 45vh;
}
.Image-details {
    width: 20%; /* Adjusted width */
    height: 100%;
    border: 1px solid blue;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Profile-details{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40vh;
    border: 1px solid black;
}
.upper-profile{
    width: 100%;
    height: 20vh;
    border: 1px solid black;
}
.lower-profile{
    width: 100%;
    height: 20vh;
    border: 1px solid blue;
}
/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .Profile {
        margin-left: 150px; /* Adjusted margin for medium devices */
        width: calc(100% - 150px); /* Adjusted width for medium devices */
    }
}

/* Media Query for smaller screens */
@media screen and (max-width: 576px) {
    .Profile {
        margin-left: 0; /* No margin for small devices */
        width: 100%; /* Full width for small devices */
    }
}
