.Main-Container {
    display: flex;
    justify-content: center;
}

.Profile {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    border: 1px solid black;
    height: 30vh;
    gap: 50px;
}

.Image-details {
    width: 20%;
    height: 100%;
    border: 1px solid blue;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* General styling for profile details sections */
.Profile-details,
.Middle-details,
.Last-details {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    border: 1px solid black;
}

.upper-profile,
.Middle-upper-profile,
.Last-upper-profile,
.lower-profile,
.Middle-lower-profile,
.Last-lower-profile {
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.upper-profile span,
.Middle-upper-profile span,
.Last-upper-profile span,
.lower-profile span,
.Middle-lower-profile span,
.Last-lower-profile span {
    text-align: left; /* Align text to the left within each span */
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .Profile {
        margin-left: 150px;
        width: calc(100% - 150px);
    }
}

/* Media Query for smaller screens */
@media screen and (max-width: 576px) {
    .Profile {
        margin-left: 0;
        width: 100%;
    }
}
