#mainContainer-receptionist {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.left-side-recep {
    width: 17%;
}

.right-side-recep {
    width: 80%;
}


@media screen and (max-width:1200px) {
    
    .right-side-recep{
        width: 100%;
    }
}

