@import '../../constants/Colors.css';
.Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fontRegular);
}
.Profile-Main-Container{
    display: flex;
    justify-content: center;
    width: 99%;
    height: 105vh;
    margin-top: 15px;
    gap: 20px;
}

.Patient-Profile{
    width: 60%;
    height: 100vh;
    border: 5px solid rgb(255, 253, 253);
    border-radius: 10px; 
    background-color: var(--navbarTextColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.Patient-Personal-Profile{
    display: flex;
    width: 100%;
    height: 25vh;
}

.left-side-Profile{
    width: 50%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 5px;
    gap: 0.5rem;
   
}
.left-side-Profile label {
    margin-bottom: -15px;
}

.left-side-Profile input {
    width: 300px;
    height: 30px; /* Increase the height as needed */
    border: 1px solid #838181;
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 8px; /* Add padding for better spacing */
}


.Right-side-Profile{
    width: 50%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align elements to the left */
    gap: 0.5rem;
}

.Right-side-Profile label {
    margin-bottom: -15px;
}

.Right-side-Profile input {
    width: 300px;
    height: 30px; /* Increase the height as needed */
    border: 1px solid #838181;
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 8px; /* Add padding for better spacing */
}

h2 {
    text-align: left;
    margin: 8px;
}

/* =============Patient Contact Details================= */

.Patient-contact{
    display: flex;
    width: 100%;
     height: 25vh;
    
}

/* ========DoctorContact========= */
.Doctor-Contact{
    display: flex;
    width: 100%;
    height: 25vh;

}

.Next-button{
    width: 100%;
    height: 5vh;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: var(--fontRegular);
    background-color: var( --lms);
    border: 2px solid var(--lms);
    border-radius: 5px; 
}

/* =========Patient Image===== */
.Patient-Image{
    width: 35%;
    height: 35vh;
    border: 1px solid black;
}


