@import '../../constants/Colors.css';
.Patient-Main-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fontRegular);
    width: 100%;
    height: 110vh;
}
/* .Profile-Main-Container{
    display: flex;
    justify-content: center;
    width: 99%;
    height: 105vh;
    margin-top: 15px;
} */

.Patient-Details-Container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 60%;
    height: 98%;
    border: 5px solid rgb(255, 253, 253);
    border-radius: 10px; 
    background-color: var(--navbarTextColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.Personal-Details{
    display: flex;
    width: 100%;
    height: 25vh;
    margin-left: 1rem;
    gap: 1rem;
}

.left-side-Profile{
    width: 50%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 5px;
    gap: 0.9rem;  
}
.left-side-Profile label {
    margin-bottom: -15px;
}

.Patient-Gender-Container {
    display: flex;
    justify-content: space-around;
}

.left-side-Profile input {
    width: 300px;
    height: 30px; /* Increase the height as needed */
    border: 1px solid #838181;
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 8px; /* Add padding for better spacing */
}


.Right-side-Profile{
    width: 50%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align elements to the left */
    gap: 0.9rem;
}

.Right-side-Profile label {
    margin-bottom: -15px;
}

.Right-side-Profile input {
    width: 300px;
    height: 30px; /* Increase the height as needed */
    border: 1px solid #838181;
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 8px; /* Add padding for better spacing */
}

h2 {
    text-align: left;
    margin: 8px;
}

/* =============Patient Contact Details================= */

.Contact-Details{
    display: flex;
    width: 100%;
     height: 25vh;
    margin-left: 1rem;
}

/* ========DoctorContact========= */
.Visit-Details{
    display: flex;
    width: 100%;
    height: 25vh;
    margin-left: 1rem;
}

.btn-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Next-button{
    width: 80%;
    height: 5vh;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: var(--fontRegular);
    background-color: var( --lms);
    border: 2px solid var(--lms);
    border-radius: 5px; 
}

/* =========Patient Image===== */
.Patient-Image{
    width: 35%;
    height: 35vh;
    border: 1px solid black;
}


