@import '../../constants/Colors.css';


.RC-Main-Report-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10px;
  padding-bottom: 5rem;
  font-family: var(--fontRegular);

}
/* #Main-report{
  max-height: 280vh;
} */
.RC-Main-report{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 78%;
  min-height: 95vh;
  gap: 0.5rem;
  border: 5px solid rgb(255, 253, 253);
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.RC-Header-report{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.RC-Report-left-image {
   width: 15%;
   height: 100%;
}

.RC-logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.RC-Report-Middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 85%;
  height: 100%;
}

.RC-Report-Middle h3 {
  font-size: 20px;
}

.RC-Report-Middle h3,
.RC-Report-Middle p {
  margin-top: -10px;

}
.RC-Report-Middle h1 {
  background: linear-gradient(to right, #6ec007, #90EE90);
  -webkit-background-clip: text;
  color: transparent;
  border: none;
  box-shadow: none;
  font-size: 30px;
  font-weight: 900;
}
.report-heading-effect {
  background: linear-gradient(to right, #6ec007, #90EE90);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.RC-Report-smCnt{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.RC-Report-Right {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding-left: 1rem;
  gap: 10px;
  width: 30%;
  height: 100%;

}

.RC-Report-Right a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


/* ==================Middle================ */
.RC-Middle-Report-Section-Color {
  width: 100%;
  height: 3vh;
  background: linear-gradient(to right, #6ec007 -0.9%, #90EE90 100%);
  margin-bottom: 1rem;
  border-radius: 5px;
}

.RC-Middle-Report-Section {
  display: flex;
 justify-content: flex-start;
 align-items: center;
  width: 90%;
  height: 7rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
.RC-L-Report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 20%;
  height: 100%;
  margin-left: 1rem;
}

/* .L-Report h3 {
  font-weight: 800;
} */

.RC-M-Report p, 
.RC-L-Report p{
  margin-top: -15px;
}

.RC-M-Report h3,
.RC-L-Report h3{
  margin-top: 0px;
  font-weight: 800;
}

.RC-M-Report{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  width: 40%;
  height: 100%;
}

.RC-R-Report {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


  width: 30%;
  height: 20vh;
  /* margin-left: 0.5rem; */
  /* border: 1px solid black; */
}

.RC-bar-code{
  width: 100%;
  /* border: 1px solid black; */
}
.RC-generated {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.8rem;
  /* border: 1px solid black; */
  
}

.RC-R-Report p {
  font-weight: 600;
}

.RC-R-Line {
  width: 2px;
  height: 100%;
  background: linear-gradient(to right, #6ec007 -0.9%, #90EE90 100%);
}

/* =============After Middle======================== */
.RC-Middle-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 2rem;
  margin-top: -0.5rem;
  border: 1px solid rgb(187, 185, 185);
  border-left: none;
  border-right: none;
  padding-bottom: 1.3rem;
  padding-top: 1.3rem;
}

.RC-Middle-text h2{
  text-align: center;
  font-size: 1.1em;
}
.RC-Table-report {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 100vh;
  /* max-height: 30vh; Change height to max-height */
  overflow: visible;
}

.RC-medical-lab-report-table {
  width: 100%;
  /* height: auto; */
  height: fit-content;
  border-collapse: collapse; /* Remove borders between table cells */
  background-color: white; /* Set background color to white */
}


.RC-medical-lab-report-table th
{
  border-left: none;
  border-right: none;
  border-top: none ;
  padding-bottom: 4px;
  padding-top: 0;
  background: transparent;
}

/* .tableHead-row{
  height: 1rem;
} */


.RC-medical-lab-report-table td {
  border: none; /* Remove borders from table header and data cells */
  padding: 0.5rem; /* Add padding for better readability */
}

.RC-medical-lab-report-table tbody td {
  text-align: left; /* Align tbody content to the left */
  border: none;
}

#input-report{
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
.RC-tableBody-row{
  border: none;
  /* background-color: transparent; */
}


.RC-medical-lab-report-table tbody td,
.RC-medical-lab-report-table tbody tr  {
  background-color: transparent; 
}


/* ====================Footer Section=============================== */
.RC-Footer-Section {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
  gap: 0.5rem;
}

.RC-Footer-Section {
  position: relative;

}


.RC-Footer-Section-heading {
  margin-left: 1rem;
  font-weight: 600;
  font-size: large;
}

.RC-Details-Footer{
  width: 95%;
  /* height: 90%; */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 0.5rem;
   margin-left: 1.5rem;
    border: 1px solid rgb(187, 185, 185);
  border-left: none;
  border-right: none;
}
.RC-Fl-report{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

}

.RC-Fl-report p {
  font-weight: 600;
}

/* .Main-Report-container button{
  
  background-color: var(--buttonColor);
  
  color: whitesmoke;
  width: 9rem;
  font-size: large;
  height: 2rem;
  border:1px solid var(--buttonColor);
  border-radius: 4px;
} */

.RC-generated-time {
  position: relative;
  left: 70%;
}

.report-bottom-bar-code {
  width: 100%;
  height: 5vh;
  background: linear-gradient(to right, #6ec007 -0.9%, #90EE90 100%);
  margin-bottom: 1rem;
  border-radius: 5px;
}

.RC-sr-button-container {
  width: 20%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}

.RC-sr-button-container button {
  margin: 2em;
    background-color: var(--buttonColor);
    color: var(--sideBartextColor);
    border: none;
    border-radius: 4px;
    width: 40%;
    height: 2.5rem;
    font-size: var(--small);
    font-weight: 600;
    letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.RC-sr-button-container button:hover {
  transform: scale(1.1);
}

@media  screen and (max-width: 844px) {
  .Report-smCnt{
    width: 100%;
  }
  .Report-Right{
    width: 100%;
  }
 
}

@media  screen and (max-width:790px) {
  .Report-Middle h1{
    font-size: 1.2em;
  }
  .Report-Middle h3{
    font-size: 1em;
  }
  .Report-Middle p{
    font-size: 0.8em;
  }
  .Report-Right a{
    font-size: 0.8em;
  }
  .L-Report h3,
  .M-Report h3
  {
    font-size: 1em;
  }
  .L-Report p,
  .M-Report p,
  .R-Report p{
  font-size: 0.8em;
  }
  .L-Report{
    gap: 0.4em;
  }
  .Middle-Report-Section-Color{
    height: 2vh;
  }
  .Middle-text h2{
    font-size: 0.8rem;
  }
  .medical-lab-report-table thead tr th{
    font-size: 1em;
  }
  .medical-lab-report-table tbody tr td{
    font-size: 0.8em;
  }
  .Footer-Section h3{
    font-size: 1rem;
  }
  .Fl-report{
    font-size: 0.8rem;
  }
  
}



@media print {
  body {
    margin: 0; /* Reset margin for printing */
    padding: 0; /* Reset padding for printing */
    font-family: 'Roboto', sans-serif; /* Set desired font for printing */
  }
  #Main-report {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .RC-Report-Middle h1 {
    font-size: 28px;
    font-weight: 600;
  }
}

