
@import '../../constants/Colors.css';

#SearchTest{
    width: 100%;
}

.SearchTest-innerComponent{
    font-family: var(--fontRegular);
    padding-right: 2rem;
    margin: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 0px;
    
    
}
.searchTest-mainBox{
    /* margin: 2rem; */
    margin-top: 1.2rem;
    margin-bottom: 0px;
    background-color: var(--boxBackColor);    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}


.searchTest-search-input {
    height: 4em;
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    
  }
  
  .searchTest-search-radio {
    position: absolute;
    left: 0.5em;
    
    /* top: 50%; */
    /* transform: translateY(-50%); */
  }
  .searchTest-radio{
    
    width: 100%;
  }
  
  .searchTest-search-text {
    padding-left: 2em; 
    width: 100%;
    border: 1px solid  #CED4DA;
    
    border-radius: 0.4em;
    height: 100%;
    font-size: var(--medium);
    color: var(--textColor);
  }
  
  .searchTest-searchDivs{
    display: flex;
    width: 50%;
    overflow: hidden ;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5em;
    padding: 1em;
    justify-items: center;
    gap: 2em;
  }

  .searchTest-Text{
    color: var(--textColor);
    font-weight: 600;
    font-size: var(--medium);
    
  }


  /*Table css*/
  .scrollable-table-container {
    /* overflow-x: auto; */
    width: 100%;
    /* margin: 2em; */
    padding: 0.5em;
    
    max-height: 25em;
    
    overflow: auto;
    scroll-behavior: smooth;
    
    }
    .scrollable-table-container::-webkit-scrollbar {
        width: 0;
      }
  .scrollable-table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  .scrollable-table th,
  .scrollable-table td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  
  .scrollable-table thead {

    border-bottom: 3px solid #EFEFEF; /* Change the color to black */
}

  
  .scrollable-table th {
    position: sticky;
    left: 0;
    background-color: white; /* Ensures the first column stays visible when scrolling horizontally */
    z-index: 1; /* Ensures the first column stays on top */
  }
  
  
  
  .scrollable-table td {
    border-top: none; /* No border for table body rows */
  }
  
  .scrollable-table tbody tr:nth-child(odd) {
    background-color: #fcf2f202;
  }
 
  

  #searchTest-btn{
    margin: 2em;
    background-color: var(--buttonColor);
    color: var(--sideBartextColor);
    border: none;
    border-radius: 4px;
    width: 40%;
    height: 50px;
    font-size: var(--medium);
    font-weight: 700;
    letter-spacing: 1px;
  }

  /* .bigBox{
    min-height: 25em
  } */


  @media screen and (max-width: 900px){
    .searchTest-mainBox{
      flex-direction: column;
    }
    .searchTest-searchDivs{
      width: 100%;
      padding: 0;
      gap: 0;
    }
  }

  