.active-days4,
.frame-child16 {
  position: relative;
  display: none;
}
.active-days4 {
  width: 6.1px;
  height: 72.9px;
}
.frame-child16 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
  height: 266px;
}
.name {
  position: relative;
  font-size: var(--font-size-2xs);
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
}
.type {
  position: relative;
  font-size: var(--font-size-2xs);
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.type-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
}
.code {
  position: relative;
  font-size: var(--font-size-2xs);
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.code-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
}
.delivery-time,
.price {
  position: relative;
  font-size: var(--font-size-2xs);
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.price-wrapper {
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.discount {
  position: relative;
  font-size: var(--font-size-2xs);
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.discount-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
}
.total {
  position: relative;
  font-size: var(--font-size-2xs);
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.frame-parent12,
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent12 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl) 0 var(--padding-4xl);
  box-sizing: border-box;
}
.abc,
.frame-child17 {
  position: relative;
  z-index: 1;
}
.frame-child17 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.abc {
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
}
.abc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 33px 0 0;
}
.a,
.chemistry {
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.a-wrapper {
  width: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mins {
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.mins-wrapper {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div12 {
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.wrapper {
  width: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.div13 {
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.frame {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div14 {
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.frame-parent13 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-parent11,
.frame-wrapper2,
.line-parent2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  width: 763px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
}
.frame-parent11,
.line-parent2 {
  align-self: stretch;
  flex-direction: column;
}
.line-parent2 {
  height: 34px;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.frame-parent11 {
  align-items: center;
  gap: var(--gap-2xl);
}
.frame-child18 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.b,
.sub-total {
  position: relative;
  font-size: var(--font-size-2xs);
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-200);
  text-align: left;
  z-index: 1;
}
.sub-total-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-mini) 0 var(--padding-sm);
  gap: var(--gap-xl);
}
.line-parent3 {
  height: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frame-wrapper3,
.rectangle-parent2 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-wrapper3 {
  width: 255px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-20xl);
}
.rectangle-parent2 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-lg) 0 var(--padding-7xl);
  gap: 127px;
  max-width: 100%;
}
.frame-button {
  height: 40px;
  flex: 1;
  max-width: 100%;
}
.frame-footer {
  width: 489px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent10,
.frame-parent9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent10 {
  align-self: stretch;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.frame-parent9 {
  flex: 1;
  gap: var(--gap-smi);
  max-width: calc(100% - 195px);
}
.frame-child19,
.frame-form {
  align-self: stretch;
  max-width: 100%;
}
.frame-form {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frame-child19 {
  width: 549px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
}
.search-test-inner,
.search-test1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.search-test-inner {
  width: 640px;
  height: 16px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.search-test1 {
  width: 100%;
  height: 663px;
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-8xs) 0 0;
  letter-spacing: normal;
}
@media screen and (max-width: 800px) {
  .rectangle-parent2 {
    gap: 63px;
  }
}
@media screen and (max-width: 675px) {
  .frame-parent12 {
    flex-wrap: wrap;
  }
  .div14 {
    width: 100%;
    height: 12px;
  }
  .frame-parent13 {
    flex-wrap: wrap;
  }
  .line-parent2 {
    height: auto;
  }
  .frame-parent9 {
    max-width: 100%;
  }
  .frame-form {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .search-test1 {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent2 {
    gap: var(--gap-13xl);
  }
}
