:root {
  /* button colors */
  --buttonColor: #00ADB5;
  /* righ side colors */
  --headingColor: #5A6475;
  --textFieldBorderColor: 1.04px solid #CFCFCF;
  --textColor: #5A6475;
  --divShadowColor: 0px 8px 10px 0px #00000008;
  /* left side bar colors */
  --sidebarColor: #161528;
  --sideBartextColor: #FFFFFF;
  --lms: #22CAB8;
  /* navbar colors */
  --navbarTextColor: #FFFFFF;
  --navbarColor: linear-gradient(90deg, #22CAB8 -0.9%, #108A7D 100%);
  
  /* Font */
  --fontRegular: 'Visby Round CF', sans-serif;

  /* Font Sizes */
  --small: 0.7rem;
  --medium: 1.1rem;
  --large: 1.4rem;
  --xLarge: 2.1rem;
  --xxLarge: 5.1rem;
}


/* const primary = '#00ADB5';
const secondary = '#5A6475';
const dark = '#161528';
const white = '#FFFFFF';
const gradient = 'linear-gradient(90deg, #22CAB8 -0.9%, #108A7D 100%)';
const border = '1.04px solid #CFCFCF';
const shadow = 'box-shadow: 0px 8px 10px 0px #00000008';

export default {
    //button colors
  buttonColor: primary,
  //righ side colors
  headingColor: secondary,  
  textFieldBorderColor: border,
  textColor:secondary,
  divShadowColor: shadow,
  
  //left side bar color:
  sidebarColor: dark,
  sideBartextColor: white,
  lms:"#22CAB8",
  //nav bar colors
  navbarTextColor:white,
  navbarColor: gradient,
}; */
