:root {
  /* button colors */
  --buttonColor: #00ADB5;
  /* righ side colors */
  --headingColor: #5A6475;
  --textFieldBorderColor: 1.04px solid #CFCFCF;
  --textColor: #5A6475;
  --divShadowColor: 0 0 10px rgba(0, 0, 0, 0.2);
  
  --boxBackColor: #FFFFFF;
  /* left side bar colors */
  --sidebarBackColor: #161528;
  --sideBartextColor: #FFFFFF;
  --lms: #22CAB8;
  /* navbar colors */
  --navbarTextColor: #FFFFFF;
  --navbarColor: linear-gradient(90deg, #22CAB8 -0.9%, #108A7D 100%);
  
  /* Font */
  --fontRegular: 'Visby Round CF', sans-serif;

  /* Font Sizes */
  --small: 1.2rem;
  --medium: 1.5rem;
  --large: 1.8rem;
  --xLarge: 2.1rem;
  --xxLarge: 5.1rem;
}

