@import '../../constants/Colors.css';


.Main-Report-container{
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
  padding-bottom: 5rem;
  font-family: var(--fontRegular);

}
.Main-report{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  border: 5px solid rgb(255, 253, 253);
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.Header-report{
  display: flex;
  flex-direction: row;
  width: 95%;
  height: auto;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.Report-left-image{
   width: 20%;
   height: auto;
   /* border: 1px solid black; */

}

.logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Report-Middle{
  width: 70%;
  height: auto;
  /* border: 2px solid black; */
}



.Report-Middle h3,
.Report-Middle p {
  margin-top: -10px;
}
.Report-Middle h1 {
  margin-top: -5px; /* Remove default margin from the top */
}

.Report-smCnt{
  width: 62%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.Report-Right{
  display: flex;
  flex-direction: column;
  align-items: justify;
  padding-left: 1rem;
  gap: 10px;
  width: 35%;
  height: 13vh;
  /* border: 1px solid blueviolet; */
}

/* ==================Middle================ */
.Middle-Report-Section-Color{
  width: 100%;
  height: 3vh;
  background-color: var(--lms);
  margin-bottom: 1rem;
}

.Middle-Report-Section{
  display: flex;
 justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  /* border: 1px solid black; */
}
.L-Report{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 100%;

}

.M-Report p, 
.L-Report p{
  margin-top: -15px;
}

.M-Report h3,
.L-Report h3{
  margin-top: 0px;
}


.M-Report{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  margin-left: 0.5rem;
}
.R-Report{
  width: 30%;
  height: 100%;
  margin-left: 0.5rem;
}

.R-Line {
  margin: 5px 5px; /* Adjust this value as needed */
}

/* =============After Middle======================== */
.Middle-text{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.Middle-text h2{
  text-align: center;
  font-size: 1.2em;
}
.Table-report{
  width: 100%;
  height: 100%; 
  overflow: auto;
}
.medical-lab-report-table {
  border-collapse: collapse; /* Remove borders between table cells */
  background-color: white; /* Set background color to white */
}

.medical-lab-report-table th,
.medical-lab-report-table td {
  border: none; /* Remove borders from table header and data cells */
  padding: 0.5; /* Add padding for better readability */
}

.medical-lab-report-table tbody td,
.medical-lab-report-table tbody tr  {
  background-color: transparent; /* Remove background color from table rows */
}

/* ====================Footer Section=============================== */
.Footer-Section {
  width: 100%;
  height: auto; /* Set the height of the footer */
  /* border: 1px solid black; */
}
.Details-Footer{
   display: flex;
   flex-direction: row;
  text-align: center;
  height: auto;
}
.Fl-report{
  width: 33%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.Main-Report-container button{
  
  background-color: var(--buttonColor);
  
  color: whitesmoke;
  width: 9rem;
  font-size: large;
  height: 2rem;
  border:1px solid var(--buttonColor);
  border-radius: 4px;
  
}

@media  screen and (max-width: 844px) {
  .Report-smCnt{
    width: 100%;
  }
  .Report-Right{
    width: 100%;
  }
 
}

@media  screen and (max-width:790px) {
  .Report-Middle h1{
    font-size: 1.2em;
  }
  .Report-Middle h3{
    font-size: 1em;
  }
  .Report-Middle p{
    font-size: 0.8em;
  }
  .Report-Right a{
    font-size: 0.8em;
  }
  .L-Report h3,
  .M-Report h3
  {
    font-size: 1em;
  }
  .L-Report p,
  .M-Report p,
  .R-Report p{
  font-size: 0.8em;
  }
  .L-Report{
    gap: 0.4em;
  }
  .Middle-Report-Section-Color{
    height: 2vh;
  }
  .Middle-text h2{
    font-size: 0.8rem;
  }
  .medical-lab-report-table thead tr th{
    font-size: 1em;
  }
  .medical-lab-report-table tbody tr td{
    font-size: 0.8em;
  }
  .Footer-Section h3{
    font-size: 1rem;
  }
  .Fl-report{
    font-size: 0.8rem;
  }
  
}






@media print {
    /* Hide elements not necessary for printing */
    
    .Footer-Section button {
        display: none;
    }

    
    

    .logo-image {
        max-width: 100px;
    }

  

    /* Ensure table fits within the page */
    .Table-report {
        overflow: visible;
    }

  

   

    /* Ensure footer text fits within the page */
    .Details-Footer {
        flex-wrap: wrap;
    }

    /* Ensure footer fits within the page */
    .Footer-Section {
        margin-top: 10px;
    }
}
