.frame-child36 {
  height: 57px;
  width: 829px;
  position: relative;
  background: linear-gradient(90deg, #22cab8, #108a7d);
  display: none;
  max-width: 100%;
}
.frame-child37 {
  height: 32px;
  width: 240px;
}
.frame-child38 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.profile-svgrepo-com-4-12 {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  z-index: 3;
}
.ellipse-container {
  height: 33px;
  width: 33px;
  position: relative;
}
.login4 {
  position: relative;
  font-size: var(--font-size-sm-3);
  font-family: var(--font-visby-round-cf);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.frame-parent38 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-7xs) 0 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-child39 {
  height: 1px;
  width: 11px;
  position: relative;
  border-radius: var(--br-10xl);
  background-color: var(--color-white);
  z-index: 2;
}
.cross-svgrepo-com-1-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.frame-parent37 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.frame-child40,
.frame-header {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-header {
  align-self: stretch;
  background: linear-gradient(90deg, #22cab8, #108a7d);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-8xl) var(--padding-xs)
    var(--padding-mid);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-child40 {
  height: 28px;
  width: 829px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-300);
  display: none;
}
.search-test4 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent36,
.rectangle-parent11 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent11 {
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-7xs) var(--padding-mini) var(--padding-5xs);
}
.frame-parent36 {
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-xs-5);
  color: var(--color-slategray-200);
  font-family: var(--font-visby-round-cf);
}
