.test-reports-section-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  display: none;
}
.dashboard-frame-child {
  height: 57px;
  width: 829px;
  position: relative;
  background: linear-gradient(90deg, #22cab8, #108a7d);
  display: none;
  max-width: 100%;
}
.pennewroundsvgrepocom-frame {
  height: 32px;
  width: 240px;
}
.gender-frame1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.profile-svgrepo-com-4-13 {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  z-index: 3;
}
.gender-frame-parent {
  height: 33px;
  width: 33px;
  position: relative;
}
.login5 {
  position: relative;
  font-size: var(--font-size-sm-3);
  font-family: var(--font-visby-round-cf);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.profile-button-frame {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-7xs) 0 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.address-frame {
  height: 1px;
  width: 11px;
  position: relative;
  border-radius: var(--br-10xl);
  background-color: var(--color-white);
  z-index: 2;
}
.cross-svgrepo-com-1-icon3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.dashboard-frame1,
.login-button-frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.dashboard-frame1 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #22cab8, #108a7d);
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-8xl) var(--padding-xs)
    var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-xl);
  height: 100%;
  max-width: 100%;
  z-index: 1;
}
.test-reports-section {
  align-self: stretch;
  height: 57px;
  position: relative;
  max-width: 100%;
}
.email-frame-child {
  height: 28px;
  width: 829px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.enter-patient-details {
  width: 148px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.email-frame,
.iconly-light-paper-instance1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.email-frame {
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-7xs) var(--padding-mini) var(--padding-5xs);
}
.iconly-light-paper-instance1 {
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-xs-5);
  color: var(--color-slategray-200);
  font-family: var(--font-visby-round-cf);
}
