.login-button-frame-child {
  width: 436px;
  height: 433px;
  position: relative;
  border-radius: 4.17px;
  background-color: var(--color-white);
  box-shadow: 0 8.3px 10.43px rgba(0, 0, 0, 0.03);
  display: none;
  max-width: 100%;
}
.welcome-back1 {
  position: relative;
  font-size: var(--font-size-mini-6);
  font-family: var(--font-visby-round-cf);
  color: var(--color-lightseagreen);
  text-align: left;
  z-index: 1;
}
.welcome-back-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) 0 0;
}
.login-to-continue {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 16.31px;
  font-family: var(--font-visby-round-cf);
  color: var(--color-slategray-100);
  text-align: left;
  z-index: 1;
}
.frame-parent20 {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.login-button-frame-inner {
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-27xl);
  box-sizing: border-box;
}
.email2 {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 13.8px;
  font-family: var(--font-visby-round-cf);
  color: var(--color-dimgray);
  text-align: left;
  z-index: 1;
}
.login-button1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg);
}
.input-forms-group {
  border: 1px solid var(--color-lightgray-300);
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 42.8px;
  position: relative;
  border-radius: 4.17px;
  box-sizing: border-box;
  min-width: 214px;
  z-index: 1;
}
.login-button-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.forgot-password1,
.password1 {
  position: relative;
  font-size: var(--font-size-2xs);
  line-height: 13.8px;
  font-family: var(--font-visby-round-cf);
  color: var(--color-dimgray);
  text-align: left;
  z-index: 1;
}
.forgot-password1 {
  font-weight: 500;
  color: var(--color-darkgray);
}
.email-input,
.welcome-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.email-input {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.welcome-frame {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-mid);
  box-sizing: border-box;
}
.empty-rectangle3 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 42.8px;
  position: relative;
  z-index: 1;
}
.error-message-container,
.password-input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  max-width: 100%;
}
.error-message-container {
  align-items: flex-start;
  gap: var(--gap-sm);
  min-height: 148px;
}
.registration-prompt {
  align-self: stretch;
  height: 43px;
  position: relative;
}
.dont-have-an,
.register1 {
  font-family: var(--font-visby-round-cf);
  color: var(--color-lightgray-200);
}
.register1 {
  color: var(--color-lightseagreen);
}
.dont-have-an-container {
  position: relative;
  font-size: var(--font-size-mini-6);
  text-align: left;
  cursor: pointer;
  z-index: 1;
}
.dont-have-an-account-registe-wrapper,
.login-button-frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.login-button-frame1 {
  margin: 0;
  width: 436px;
  border-radius: 4.17px;
  background-color: var(--color-white);
  box-shadow: 0 8.3px 10.43px rgba(0, 0, 0, 0.03);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-27xl) var(--padding-20xl) var(--padding-24xl)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  min-width: 436px;
  max-width: 100%;
}
@media screen and (max-width: 900px) {
  .login-button-frame1 {
    flex: 1;
  }
}
@media screen and (max-width: 700px) {
  .login-button-frame1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .login-button-frame-inner {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .email-input {
    flex-wrap: wrap;
  }
  .login-button-frame1 {
    padding-top: var(--padding-11xl);
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
}
