.active-days2,
.frame-item {
  height: 72.9px;
  width: 6.1px;
  position: relative;
  display: none;
}
.frame-item {
  height: 57px;
  width: 829px;
  background: linear-gradient(90deg, #22cab8, #108a7d);
  max-width: 100%;
}
.frame-inner {
  height: 32px;
  width: 240px;
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.profile-svgrepo-com-4-1 {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  z-index: 2;
}
.ellipse-parent {
  height: 33px;
  width: 33px;
  position: relative;
}
.login1 {
  position: relative;
  font-size: var(--font-size-sm-3);
  font-family: var(--font-visby-round-cf);
  color: var(--color-white);
  text-align: left;
  cursor: pointer;
  z-index: 1;
}
.frame-container {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-7xs) 0 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.rectangle-div {
  height: 1px;
  width: 11px;
  position: relative;
  border-radius: var(--br-10xl);
  background-color: var(--color-white);
  z-index: 1;
}
.cross-svgrepo-com-1-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frame-group,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.rectangle-group {
  align-self: stretch;
  background: linear-gradient(90deg, #22cab8, #108a7d);
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-8xl) var(--padding-xs)
    var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
}
.frame-child1 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
  height: 234px;
  display: none;
}
.daily-sales {
  position: relative;
  z-index: 1;
}
.m-o-n-t-h-l-y-s-a-l-e-s-frame {
  width: 384px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  color: var(--color-dimgray);
}
.rectangle-m-o-n-t-h-l-a-b-e-l {
  height: 1.3px;
  flex: 1;
  position: relative;
  border-top: 1.3px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.d-a-i-l-e-s-s-a-l-e-s-l-i-n-e {
  align-self: stretch;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-lgi);
  box-sizing: border-box;
  max-width: 100%;
}
.div,
.line-div {
  position: relative;
  z-index: 1;
}
.line-div {
  height: 1px;
  flex: 1;
  border-top: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  min-width: 193px;
}
.frame-frame,
.parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.parent {
  flex: 1;
  align-items: center;
  gap: var(--gap-9xl);
}
.frame-frame {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-4xl) 0 35px;
  box-sizing: border-box;
  min-height: 27px;
}
.div1 {
  position: relative;
  z-index: 1;
}
.line-m-o-n-t-h-l-y-s-a-l-e-s {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  min-width: 193px;
  z-index: 1;
}
.graph-icon {
  width: 205px;
  position: absolute;
  margin: 0 !important;
  right: 38px;
  bottom: -29.7px;
  height: 59.7px;
  z-index: 2;
}
.m-o-n-t-h-f-r-a-m-e-f-r-a-m-e {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-10xl);
  max-width: 100%;
}
.m-o-n-t-h-l-y-s-a-l-e-s-graph {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 var(--padding-15xl);
  box-sizing: border-box;
  min-height: 27px;
  max-width: 100%;
}
.date-of-the,
.frame-child2 {
  position: relative;
  z-index: 1;
}
.frame-child2 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
}
.frame-child3,
.frame-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1px;
  height: 7px;
  z-index: 1;
}
.frame-child4 {
  left: 25px;
}
.line-group {
  width: 25px;
  height: 6px;
  position: relative;
}
.div2,
.div3 {
  position: relative;
  z-index: 1;
}
.group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  gap: var(--gap-6xs);
}
.month-label,
.sales-graph {
  position: absolute;
  top: 0;
  left: 25px;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1px;
  height: 7px;
  z-index: 1;
}
.month-label {
  left: 0;
}
.sales-graph-parent {
  width: 25px;
  height: 6px;
  position: relative;
}
.div4,
.k-label {
  position: relative;
  z-index: 1;
}
.container,
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.frame-parent3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-8xs);
  gap: var(--gap-6xs);
}
.date-box {
  position: relative;
  z-index: 1;
}
.date-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.time-box {
  height: 7px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
}
.frame-child5,
.frame-child6 {
  position: absolute;
  top: 0;
  left: 24px;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1px;
  height: 7px;
  z-index: 1;
}
.frame-child6 {
  left: 0;
}
.line-container {
  width: 24px;
  height: 6px;
  position: relative;
}
.div5,
.div6 {
  position: relative;
  z-index: 1;
}
.frame-parent5,
.parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.frame-parent5 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-9xs);
  gap: var(--gap-6xs);
}
.frame-child7,
.frame-child8 {
  position: absolute;
  top: 0;
  left: 4px;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1px;
  height: 7px;
  z-index: 1;
}
.frame-child8 {
  left: 29px;
}
.line-parent1 {
  width: 32px;
  height: 6px;
  position: relative;
}
.month-line,
.time-frame {
  position: relative;
  z-index: 1;
}
.frame-parent6,
.time-frame-parent {
  display: flex;
  justify-content: flex-start;
}
.time-frame-parent {
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}
.frame-parent6 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-6xs);
}
.day-frame,
.hour-line {
  position: absolute;
  top: 0;
  left: 5px;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1px;
  height: 7px;
  z-index: 1;
}
.hour-line {
  left: 30px;
}
.month-line1 {
  width: 34px;
  height: 6px;
  position: relative;
}
.dot-divider,
.minute-divider {
  position: relative;
  z-index: 1;
}
.minute-line,
.year-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.year-frame {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-6xs);
}
.day-grid-lines,
.month-label1 {
  position: absolute;
  top: 0;
  left: 29px;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1px;
  height: 7px;
  z-index: 1;
}
.day-grid-lines {
  left: 4px;
}
.separator-frame {
  width: 33px;
  height: 6px;
  position: relative;
}
.border-frame,
.content-area {
  position: relative;
  z-index: 1;
}
.weekday-label {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-smi);
}
.date-label,
.frame-parent1,
.weekday-label {
  display: flex;
  justify-content: flex-start;
}
.date-label {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-6xs);
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 1px 0 0;
  gap: var(--gap-mini);
}
.line-parent,
.second-month-label-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.line-parent {
  align-self: stretch;
  height: 26px;
  align-items: center;
  gap: var(--gap-12xs);
}
.second-month-label-inner {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 196px;
  font-size: var(--font-size-3xs);
}
.first-month-label,
.second-month-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.second-month-label {
  flex: 1;
  justify-content: center;
  gap: var(--gap-10xl);
}
.first-month-label {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 38px;
  box-sizing: border-box;
  min-height: 39px;
}
.time-of-day {
  width: 109px;
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
  display: inline-block;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  z-index: 1;
}
.frame-child9,
.rectangle-container {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
}
.rectangle-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  min-width: 257px;
  max-width: 100%;
}
.frame-child9 {
  align-self: stretch;
  position: relative;
  height: 234px;
  display: none;
  z-index: 0;
}
.frame-child10 {
  width: 297px;
  height: 1px;
  top: calc(50% - 0px);
  border-top: 1px solid var(--color-whitesmoke-100);
}
.frame-child10,
.frame-child11,
.frame-child12 {
  position: absolute;
  margin: 0 !important;
  right: 21px;
  box-sizing: border-box;
  z-index: 1;
}
.frame-child11 {
  width: 297px;
  height: 1px;
  bottom: 77px;
  border-top: 1px solid var(--color-whitesmoke-100);
}
.frame-child12 {
  width: 1px;
  height: 7px;
  bottom: 70px;
  border-right: 1px solid var(--color-whitesmoke-100);
}
.frame-textfield {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 28px;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
}
.k,
.monthly-sales-content {
  position: relative;
  z-index: 1;
}
.monthly-sales-content {
  height: 1px;
  flex: 1;
  border-top: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  min-width: 193px;
}
.time-of-day1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.daily-graph,
.k1,
.sales-chart {
  position: relative;
  z-index: 1;
}
.daily-graph {
  width: 1px;
  height: 7px;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
}
.month-label2 {
  height: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.k-keyline {
  position: absolute;
  top: 11px;
  left: 0;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1px;
  height: 7px;
  z-index: 1;
}
.month-graph-child {
  position: absolute;
  top: 0;
  left: 5px;
  border-radius: var(--br-12xs);
  background: linear-gradient(180deg, #00adb5, rgba(217, 217, 217, 0));
  width: 16px;
  height: 10px;
  z-index: 2;
}
.month-graph {
  height: 17px;
  width: 21px;
  position: relative;
}
.sales-chart-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.second-horizontal-line,
.second-horizontal-line-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.second-horizontal-line-inner {
  align-self: stretch;
  height: 18px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
}
.second-horizontal-line {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl);
  min-width: 112px;
}
.frame-a,
.frame-b {
  width: 16px;
  position: relative;
  border-radius: var(--br-12xs);
  background: linear-gradient(180deg, #00adb5, rgba(217, 217, 217, 0));
  z-index: 2;
}
.frame-a {
  height: 47px;
}
.frame-b {
  align-self: stretch;
}
.rectangles {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-d {
  height: 7px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  z-index: 1;
}
.frame-c,
.rectangles-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-c {
  height: 6px;
  flex-direction: row;
  padding: 0 var(--padding-6xs) 0 var(--padding-5xs);
  box-sizing: border-box;
}
.rectangles-parent {
  height: 77px;
  flex-direction: column;
}
.label-date {
  position: absolute;
  top: 26px;
  left: 0;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1px;
  height: 7px;
  z-index: 1;
}
.frame-f {
  position: absolute;
  top: 0;
  left: 2px;
  border-radius: var(--br-12xs);
  background: linear-gradient(180deg, #00adb5, rgba(217, 217, 217, 0));
  width: 16px;
  height: 26px;
  z-index: 2;
}
.frame-e {
  height: 32px;
  width: 18px;
  position: relative;
}
.frame-i,
.frame-j,
.line-k {
  height: 47px;
  width: 16px;
  position: relative;
  border-radius: var(--br-12xs);
  background: linear-gradient(180deg, #00adb5, rgba(217, 217, 217, 0));
  z-index: 2;
}
.frame-j,
.line-k {
  height: 34px;
}
.line-k {
  height: 10px;
}
.frame-h {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-l-child,
.frame-l-item {
  position: absolute;
  top: 0;
  left: 13px;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 1px;
  height: 7px;
  z-index: 1;
}
.frame-l-item {
  left: 55px;
}
.frame-l {
  align-self: stretch;
  height: 6px;
  position: relative;
}
.frame-g {
  width: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-child13 {
  width: 16px;
  flex: 1;
  position: relative;
  border-radius: var(--br-12xs);
  background: linear-gradient(180deg, #00adb5, rgba(217, 217, 217, 0));
  z-index: 2;
}
.rectangle-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.frame-child14 {
  height: 7px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent8 {
  height: 77px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.frame-child15 {
  width: 16px;
  height: 34px;
  position: relative;
  border-radius: var(--br-12xs);
  background: linear-gradient(180deg, #00adb5, rgba(217, 217, 217, 0));
  z-index: 2;
}
.first-vertical-line-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs);
}
.first-vertical-line {
  width: 322px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0 2px 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 100%;
}
.time-of-day-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.div7 {
  position: relative;
  z-index: 1;
}
.empty-rectangle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.grid-lines {
  position: relative;
  z-index: 1;
}
.empty-rectangle1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.div8,
.div9,
.vertical-divider {
  position: relative;
  z-index: 1;
}
.horizontal-divider-inner,
.parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.parent2 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.horizontal-divider-inner {
  width: 98px;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-10xl);
  box-sizing: border-box;
}
.date-of-the1 {
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
  z-index: 1;
}
.horizontal-divider {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.vertical-divider1 {
  position: relative;
  z-index: 1;
}
.grid-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}
.div10 {
  position: relative;
  z-index: 1;
}
.empty-rectangle2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.div11 {
  position: relative;
  z-index: 1;
}
.empty-rectangle-parent {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-3xs);
}
.frame-parent7,
.frame-wrapper,
.rectangle-parent1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent7 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-7xs);
}
.frame-wrapper,
.rectangle-parent1 {
  box-sizing: border-box;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-3xl) 0 var(--padding-11xl);
}
.rectangle-parent1 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-2xs) 0 var(--padding-2xl);
  position: relative;
  gap: 31px;
  min-width: 257px;
}
.d-a-i-l-y-s-a-l-e-s-frame,
.frame-div {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
}
.d-a-i-l-y-s-a-l-e-s-frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.frame-div {
  flex-direction: column;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.dashboard,
.frame-div,
.frame-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-lgi);
  max-width: calc(100% - 195px);
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-darkgray);
  font-family: var(--font-visby-round-cf);
}
.dashboard {
  width: 100%;
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 675px) {
  .frame-parent {
    max-width: 100%;
  }
  .dashboard {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .div {
    width: 100%;
    height: 14px;
  }
  .parent {
    flex-wrap: wrap;
  }
  .div1 {
    width: 100%;
    height: 14px;
  }
  .frame-parent1,
  .m-o-n-t-h-f-r-a-m-e-f-r-a-m-e {
    flex-wrap: wrap;
  }
  .line-parent {
    height: auto;
  }
  .first-vertical-line,
  .second-month-label,
  .time-of-day1 {
    flex-wrap: wrap;
  }
  .rectangle-parent1 {
    gap: var(--gap-mini);
  }
}
