.active-days5,
.frame-child20 {
  height: 72.9px;
  width: 6.1px;
  position: relative;
  display: none;
}
.frame-child20 {
  width: 195px;
  background-color: var(--color-gray-200);
  height: 1172px;
}
.lms3 {
  height: 41px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  z-index: 1;
}
.lms-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-lg);
  font-size: var(--font-size-15xl-2);
  color: var(--color-turquoise);
}
.dashboard-svgrepo-com-1-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.dashboard2 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.pen-new-round-svgrepocom,
.registrations-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.registrations-text {
  align-items: center;
  gap: var(--gap-7xs);
}
.pen-new-round-svgrepocom {
  align-items: flex-start;
  padding: 0 var(--padding-sm);
}
.user-rounded-svgrepocom {
  align-self: stretch;
  height: 40px;
  font-family: var(--font-visby-round-cf);
  font-weight: 500;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  z-index: 1;
}
.dashboard-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.patient-registration1 {
  margin: 0;
  color: var(--color-white);
}
.generate-token3,
.search-test2 {
  margin: 0;
}
.patient-registration-search-container1 {
  height: 84px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.login-text {
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0 !important;
  top: 13px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-turquoise);
  z-index: 1;
}
.patient-registration-search-te-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-mini);
  position: relative;
}
.search-text {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-10xl);
  color: var(--color-gray-300);
}
.iconlylightpaper1 {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}
.enter-patient-details-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
}
.test-reports1 {
  width: 96px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.test-reports-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.arrow-left-5-svgrepo-com-2-icon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.cross-svgrepocom {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.user-rounded-svgrepo-com-1-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.account1 {
  position: relative;
  z-index: 1;
}
.cross-svgrepocom-parent,
.login-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.cross-svgrepocom-parent {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-mini);
  gap: var(--gap-xl);
}
.patient-details-inner,
.rectangle-parent3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent3 {
  align-self: stretch;
  height: 1172px;
  background-color: var(--color-gray-200);
  align-items: center;
  padding: var(--padding-11xl) var(--padding-lg) 835px;
  gap: var(--gap-5xs);
}
.patient-details-inner {
  height: 790px;
  width: 195px;
  align-items: flex-start;
  padding: 0;
}
.patient-remarks-frame-child {
  width: 549px;
  height: 1038px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
  display: none;
  max-width: 100%;
}
.patient-name {
  position: relative;
  z-index: 1;
}
.frame-child21 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 43px;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-2xs);
  color: var(--color-lightslategray);
  z-index: 2;
}
.gender,
.select-the-gender {
  position: relative;
  z-index: 1;
}
.select-the-gender {
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-silver);
}
.frame-a1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.frame-child22 {
  border: 0;
  background-color: transparent;
  height: 43px;
  flex: 1;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-3xs);
  color: var(--color-slategray-200);
  z-index: 2;
}
.frame-child23 {
  align-self: stretch;
  flex: 1;
  z-index: 2;
}
.frame-parent14,
.patient-name-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent14 {
  height: 43px;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.patient-name-parent {
  flex-direction: column;
  gap: var(--gap-xs);
}
.patient-contact-details {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.mobile-number,
.patient-contact-details {
  position: relative;
  z-index: 1;
}
.mobile-number-input {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 43px;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-2xs);
  color: var(--color-lightslategray);
  z-index: 2;
}
.address {
  position: relative;
  z-index: 1;
}
.text-input-email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.frame-e1,
.mobile-number-input1 {
  align-self: stretch;
  font-size: var(--font-size-2xs);
}
.mobile-number-input1 {
  border: 0;
  background-color: transparent;
  height: 43px;
  font-family: var(--font-visby-round-cf);
  color: var(--color-lightslategray);
  z-index: 2;
}
.frame-e1 {
  align-items: flex-start;
  gap: var(--gap-smi);
}
.frame-e1,
.next-button,
.text-input-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text-input-name {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.next-button {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-5xl);
  min-width: 157px;
}
.age {
  position: relative;
  z-index: 1;
}
.search-bar-internal-notes {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 43px;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-2xs);
  color: var(--color-lightslategray);
  z-index: 2;
}
.cnic {
  position: relative;
  z-index: 1;
}
.search-bar-internal-notes1 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 43px;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-2xs);
  color: var(--color-lightslategray);
  z-index: 2;
}
.frame-h1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.email,
.enter-emial-address {
  position: relative;
  z-index: 1;
}
.enter-emial-address {
  width: 100px;
  border: 0;
  outline: 0;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 13px;
  color: var(--color-lightslategray);
  text-align: left;
  display: inline-block;
}
.patient-gallery,
.patient-gallery-child {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-lightgray-100);
}
.patient-gallery-child {
  height: 43px;
  width: 239px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.patient-gallery {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-4xl) var(--padding-base);
  z-index: 2;
}
.frame-i1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-smi);
}
.frame-g1,
.frame-i1,
.internal-remarks-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-g1 {
  flex: 1;
  flex-direction: column;
  gap: 67px;
  min-width: 157px;
}
.internal-remarks-frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  gap: var(--gap-4xl);
}
.visit-details {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.reff-doctor,
.visit-details {
  position: relative;
  z-index: 1;
}
.patient-remarks-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.patient-remarks-section1 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 43px;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-2xs);
  color: var(--color-lightslategray);
  z-index: 2;
}
.patient-remarks {
  position: relative;
  z-index: 1;
}
.patient-remarks-section2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.patient-remarks-section3 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 43px;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-2xs);
  color: var(--color-lightslategray);
  z-index: 2;
}
.reff-doctor-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  min-width: 155px;
}
.internal-remarks {
  position: relative;
  z-index: 1;
}
.next-button1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.write-internal-remarks {
  width: 115px;
  border: 0;
  outline: 0;
  font-family: var(--font-visby-round-cf);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 13px;
  position: relative;
  color: var(--color-lightslategray);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.add-image-button-child,
.add-image-button1 {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-lightgray-100);
}
.add-image-button-child {
  height: 43px;
  width: 239px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.add-image-button1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-5xl) var(--padding-base);
  z-index: 2;
}
.contact-info-section,
.patient-image-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-info-section {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-smi);
  min-width: 155px;
}
.patient-image-area {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-7xl);
  min-height: 168px;
  font-size: var(--font-size-2xs);
}
.visit-details-frame {
  align-self: stretch;
  height: 43px;
  z-index: 1;
}
.add-image-button {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 var(--padding-5xs);
  gap: var(--gap-smi);
  font-size: var(--font-size-lg);
}
.gender-frame-child,
.patient-remarks-frame {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
}
.patient-remarks-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-sm) 373px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.gender-frame-child {
  align-self: stretch;
  position: relative;
  height: 224px;
  display: none;
}
.patient-gallery1 {
  position: relative;
  z-index: 1;
}
.age-and-cnic-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
}
.patient-registration-search {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  z-index: 1;
}
.add-patient-image,
.patient-image {
  position: relative;
  z-index: 1;
}
.add-patient-image {
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-silver);
}
.profile-picture-area,
.search-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-picture-area {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.search-icon {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-2xs);
}
.login-button-child {
  height: 108px;
  width: 204px;
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.patient-image1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.iconlylightcamera {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 24px;
  height: 24px;
  z-index: 3;
}
.camera-icon {
  height: 46px;
  width: 46px;
  position: relative;
}
.gender-frame,
.login-button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.login-button {
  width: 204px;
  border-radius: var(--br-2xs);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  justify-content: center;
  padding: 31px;
  z-index: 1;
}
.gender-frame {
  width: 236px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.03);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 var(--padding-mid);
  gap: var(--gap-smi);
  min-width: 236px;
  font-size: var(--font-size-xs);
}
.doctor-reff-frame,
.patient-registration2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.doctor-reff-frame {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.patient-registration2 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}
.enter-patient-details-title,
.patient-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--font-visby-round-cf);
}
.enter-patient-details-title {
  height: 790px;
  flex: 1;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 195px);
  font-size: var(--font-size-2xs);
  color: var(--color-slategray-200);
}
.patient-details {
  width: 100%;
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  flex-direction: row;
  letter-spacing: normal;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
@media screen and (max-width: 950px) {
  .rectangle-parent3 {
    padding-top: var(--padding-xl);
    padding-bottom: 543px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .lms3 {
    font-size: var(--font-size-8xl);
  }
  .patient-remarks-frame {
    padding-top: var(--padding-xl);
    padding-bottom: 242px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .rectangle-parent3 {
    padding-bottom: 353px;
    box-sizing: border-box;
  }
  .patient-details-inner {
    display: none;
  }
  .internal-remarks-frame,
  .patient-image-area {
    flex-wrap: wrap;
  }
  .gender-frame {
    flex: 1;
  }
  .doctor-reff-frame {
    flex-wrap: wrap;
  }
  .enter-patient-details-title {
    height: auto;
    max-width: 100%;
  }
  .patient-details {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .lms3 {
    font-size: var(--font-size-2xl);
  }
  .patient-remarks-frame {
    padding-bottom: 157px;
    box-sizing: border-box;
    min-width: 100%;
  }
}
