@import url("https://fonts.googleapis.com/css2?family=Visby+Round+CF:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-visby-round-cf: "Visby Round CF";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-2xs: 11px;
  --font-size-lg: 18px;
  --font-size-mini-6: 14.6px;
  --font-size-61xl-9: 80.9px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-3xs: 10px;
  --font-size-smi: 13px;
  --font-size-3xl: 22px;
  --font-size-sm-3: 13.3px;
  --font-size-sm-2: 13.2px;
  --font-size-base-2: 15.2px;
  --font-size-15xl-2: 34.2px;
  --font-size-2xl: 21px;
  --font-size-8xl: 27px;
  --font-size-xl-5: 20.5px;
  --font-size-base: 16px;
  --font-size-sm-7: 13.7px;
  --font-size-xs-5: 11.5px;

  /* Colors */
  --color-ghostwhite: #f3f3f9;
  --color-white: #fff;
  --color-lightseagreen: #00adb5;
  --color-lightgray-100: #ced4da;
  --color-lightgray-200: #d3d3d3;
  --color-lightgray-300: #cfcfcf;
  --color-dimgray: #4c5366;
  --color-darkgray: #a0a3ad;
  --color-slategray-100: #586f8c;
  --color-slategray-200: #5a6475;
  --color-gray-100: #919191;
  --color-gray-200: #161528;
  --color-gray-300: rgba(255, 255, 255, 0.5);
  --color-gray-400: rgba(255, 255, 255, 0.1);
  --color-gray-500: rgba(23, 31, 32, 0.75);
  --color-turquoise: #22cab8;
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #f4f4f4;
  --color-whitesmoke-300: #f1f1f1;
  --color-whitesmoke-400: #efefef;
  --color-black: #000;
  --color-lightslategray: #8f939e;
  --color-silver: #b7b7b7;

  /* Gaps */
  --gap-mid: 17px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-3xl: 22px;
  --gap-8xs: 5px;
  --gap-sm: 14px;
  --gap-5xs: 8px;
  --gap-6xs: 7px;
  --gap-xl: 20px;
  --gap-10xl: 29px;
  --gap-9xl: 28px;
  --gap-9xs: 4px;
  --gap-lgi: 19px;
  --gap-mini: 15px;
  --gap-smi: 13px;
  --gap-7xs: 6px;
  --gap-11xl: 30px;
  --gap-4xs: 9px;
  --gap-12xs: 1px;
  --gap-3xs: 10px;
  --gap-2xl: 21px;
  --gap-6xl: 25px;
  --gap-xs: 12px;
  --gap-4xl: 23px;
  --gap-7xl: 26px;
  --gap-41xl: 60px;
  --gap-13xl: 32px;
  --gap-2xs: 11px;
  --gap-55xl: 74px;
  --gap-lg: 18px;
  --gap-18xl: 37px;
  --gap-22xl: 41px;
  --gap-8xl: 27px;
  --gap-52xl: 71px;

  /* Paddings */
  --padding-22xl: 41px;
  --padding-20xl: 39px;
  --padding-27xl: 46px;
  --padding-21xl: 40px;
  --padding-8xl: 27px;
  --padding-11xl: 30px;
  --padding-xl: 20px;
  --padding-lg: 18px;
  --padding-4xs: 9px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-8xs: 5px;
  --padding-268xl: 287px;
  --padding-2xl: 21px;
  --padding-168xl: 187px;
  --padding-24xl: 43px;
  --padding-9xl: 28px;
  --padding-9xs: 4px;
  --padding-3xs: 10px;
  --padding-mid: 17px;
  --padding-6xl: 25px;
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-3xl: 22px;
  --padding-10xl: 29px;
  --padding-6xs: 7px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-10xs: 3px;
  --padding-smi: 13px;
  --padding-4xl: 23px;
  --padding-15xl: 34px;
  --padding-lgi: 19px;
  --padding-31xl: 50px;
  --padding-13xl: 32px;
  --padding-base: 16px;
  --padding-390xl: 409px;
  --padding-247xl: 266px;
  --padding-5xl: 24px;
  --padding-7xl: 26px;
  --padding-413xl: 432px;
  --padding-262xl: 281px;

  /* Border radiuses */
  --br-2xs: 11px;
  --br-8xs-2: 4.2px;
  --br-9xs: 4px;
  --br-12xs: 1px;
  --br-10xl: 29px;
  --br-8xs: 5px;
}
